@{
    var ActiveTab = ViewData["ActiveTab"]?.ToString();
}

<div class="sidebar">
    <nav class='navbar p-0  navbar-dark'>
        @* Logo *@
        <div class="logo-container">
            <img src="~/images/agu_logo.png" />
            <h4 class="text-light">FIT - AGU</h4>
        </div>
        @* Items *@
        <div class='navbar-nav w-100 mt-2 me-2'>
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-item nav-link @(ActiveTab == "TrangChu" ? "active" : "")">
                <i class=" fas fa-home"></i>
                Trang chủ
            </a>
        </div>
        <div class='navbar-nav w-100 mt-2 me-2'>
            <a asp-area="Admin" asp-controller="TinTuc" asp-action="Index" class="nav-item nav-link @(ActiveTab == "TinTuc" ? "active" : "")">
                <i class="far fa-file-alt"></i>
                Quản lý tin tức
            </a>
        </div>
        <div class='navbar-nav w-100 mt-2 me-2'>
            <a asp-area="Admin" asp-controller="DoanhNghiep" asp-action="Index" class="nav-item nav-link @(ActiveTab == "DoanhNghiep" ? "active" : "")">
                <i class="far fa-building"></i>
                Quản lý doanh nghiệp
            </a>
        </div>
        <div class='navbar-nav w-100 mt-2 me-2'>
            <a asp-area="Admin" asp-controller="ChuyenGia" asp-action="Index" class="nav-item nav-link @(ActiveTab == "ChuyenGia" ? "active" : "")">
                <i class="fas fa-user-tie"></i>
                Quản lý chuyên gia
            </a>
        </div>
        <div class='navbar-nav w-100 mt-2 me-2'>
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-item nav-link @(ActiveTab == "HiepHoi" ? "active" : "")">
                <i class="fas fa-users"></i>
                Quản lý hiệp hội DN
            </a>
        </div>

    </nav>
</div>